<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF4291D1794E2E67C6B096D5FD271DD69" Guid="{178CDCF7-E932-4D3B-99A7-C775AECF687D}">
                <File Id="filE8ACCC3757E7DCB18A2EF7973F7D67AC" KeyPath="yes" Source="$(var.BasePath)\DeltaCompressionDotNet.dll" />
            </Component>
            <Component Id="cmp3AF8DAE5A5815FF7DF4A8312CEF412EF" Guid="{1A0B61E6-09DC-4035-9D3C-A8B0DD38FFE9}">
                <File Id="fil87F1ED90A6989050C8EC57CE22A3913A" KeyPath="yes" Source="$(var.BasePath)\DeltaCompressionDotNet.MsDelta.dll" />
            </Component>
            <Component Id="cmp5D616E6366FC406C7A882A76B4352194" Guid="{0D92D550-4626-4E99-844C-C388E8AC3365}">
                <File Id="filF26F8F4C18C9B96F7D07ADAB22C05068" KeyPath="yes" Source="$(var.BasePath)\DeltaCompressionDotNet.PatchApi.dll" />
            </Component>
            <Component Id="cmp533354A25CA93FF3B8EB06268C7FDEDC" Guid="{028F720B-666A-40AD-B5D2-E00FEEA0168E}">
                <File Id="fil426730C05C34F31A8FFC29BD24DC16B1" KeyPath="yes" Source="$(var.BasePath)\Mono.Cecil.dll" />
            </Component>
            <Component Id="cmp1CF9D9D3016E4D3190366F1DCD0F2F26" Guid="{020D93FC-CE95-4911-AB05-752182D11149}">
                <File Id="fil539AAF025A86DB6AAEED310DC7493ABE" KeyPath="yes" Source="$(var.BasePath)\Mono.Cecil.Mdb.dll" />
            </Component>
            <Component Id="cmpB4B96E74FF236FD5613B9C81C7860BCA" Guid="{48D2C691-3DA0-41A1-A07D-F9BEC0459832}">
                <File Id="filDB6A1D5D8BBBA53A93AE716DB99FCE7A" KeyPath="yes" Source="$(var.BasePath)\Mono.Cecil.Pdb.dll" />
            </Component>
            <Component Id="cmp869D2C77E8A66E35CD65E4431CD62DF4" Guid="{B02CB543-D66F-447E-9592-AEBF8F09E50C}">
                <File Id="fil1A6ACD72E27664742EE1044492933A02" KeyPath="yes" Source="$(var.BasePath)\Mono.Cecil.Rocks.dll" />
            </Component>
            <Component Id="cmpCFE05FAF1051584A918D3FE5E87575B5" Guid="{62C17557-008C-4D4A-8A7F-40CF10F7A990}">
                <File Id="fil4E67296A64D347A89EE2A279AAB9254A" KeyPath="yes" Source="$(var.BasePath)\PowerMonitor.application" />
            </Component>
            <Component Id="cmp16D930DE91815C8892766EF5889565B4" Guid="{9DB2CAE6-65DE-48F3-A95D-2C94D6D21972}">
                <File Id="fil33D72076D0942F151DC5560C712F529D" KeyPath="yes" Source="$(var.BasePath)\PowerMonitor.exe" />
            </Component>
            <Component Id="cmpBB9283BEBAA416429CE4236229156F57" Guid="{6B18B289-D467-4BD4-A708-52BD0C80EFA2}">
                <File Id="fil0F5B9B4BD247FF11365D0B2786E06FFE" KeyPath="yes" Source="$(var.BasePath)\PowerMonitor.exe.config" />
            </Component>
            <Component Id="cmp57CB7B20DF8BAB2F14133ECCE33FCFFA" Guid="{F8D0C8EA-35EE-4C12-86A0-A52091E1CC03}">
                <File Id="filE60A36CA92AABD7AE90D6891F8FE5504" KeyPath="yes" Source="$(var.BasePath)\PowerMonitor.exe.manifest" />
            </Component>
            <Component Id="cmp83D44C8EEE4559991A46AC8E7FF7DD4D" Guid="{CA0FE22A-B287-4FA9-841E-7F645D167FCC}">
                <File Id="fil63FC1B019BD921BF1D9B319E41461A69" KeyPath="yes" Source="$(var.BasePath)\PowerMonitor.pdb" />
            </Component>
            <Component Id="cmp7EF438D2A4E1FF3FA6222046A8791D88" Guid="{C818DFB5-8034-4D59-9EE7-FF8AC0F312F0}">
                <File Id="fil384AFC995578699CA1F6C1519880B713" KeyPath="yes" Source="$(var.BasePath)\SharpCompress.dll" />
            </Component>
            <Component Id="cmpECC0DB43D675D3354C308FED694EB2A4" Guid="{3F712B49-4384-46B6-8E6B-5CFB44488FB0}">
                <File Id="fil096A18880498670BA154574207EB2E0F" KeyPath="yes" Source="$(var.BasePath)\Splat.dll" />
            </Component>
            <Component Id="cmp0B94E9A7DCC14AAE14FF1B3F31F826BB" Guid="{0CD00680-966F-47C5-970B-B240FEC4DA88}">
                <File Id="fil75D94E27CD56C7DA7B95513DC48E0451" KeyPath="yes" Source="$(var.BasePath)\Splat.pdb" />
            </Component>
            <Directory Id="dir00122602D311392A9D483BE33FE17DEF" Name="app.publish">
                <Component Id="cmp14DC1D1C1CD6726D13EAF3E2F992D4AB" Guid="{F9823D26-28E8-4F08-B0D5-E5C4CC1F134E}">
                    <File Id="filA16592FE4896C31DAD10B43606CA4D26" KeyPath="yes" Source="$(var.BasePath)\app.publish\PowerMonitor.exe" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF4291D1794E2E67C6B096D5FD271DD69" />
            <ComponentRef Id="cmp3AF8DAE5A5815FF7DF4A8312CEF412EF" />
            <ComponentRef Id="cmp5D616E6366FC406C7A882A76B4352194" />
            <ComponentRef Id="cmp533354A25CA93FF3B8EB06268C7FDEDC" />
            <ComponentRef Id="cmp1CF9D9D3016E4D3190366F1DCD0F2F26" />
            <ComponentRef Id="cmpB4B96E74FF236FD5613B9C81C7860BCA" />
            <ComponentRef Id="cmp869D2C77E8A66E35CD65E4431CD62DF4" />
            <ComponentRef Id="cmpCFE05FAF1051584A918D3FE5E87575B5" />
            <ComponentRef Id="cmp16D930DE91815C8892766EF5889565B4" />
            <ComponentRef Id="cmpBB9283BEBAA416429CE4236229156F57" />
            <ComponentRef Id="cmp57CB7B20DF8BAB2F14133ECCE33FCFFA" />
            <ComponentRef Id="cmp83D44C8EEE4559991A46AC8E7FF7DD4D" />
            <ComponentRef Id="cmp7EF438D2A4E1FF3FA6222046A8791D88" />
            <ComponentRef Id="cmpECC0DB43D675D3354C308FED694EB2A4" />
            <ComponentRef Id="cmp0B94E9A7DCC14AAE14FF1B3F31F826BB" />
            <ComponentRef Id="cmp14DC1D1C1CD6726D13EAF3E2F992D4AB" />
        </ComponentGroup>
    </Fragment>
</Wix>