<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PowerMonitor.Installer" Language="1033" Version="1.0.0.0" Manufacturer="12" UpgradeCode="3e80ae15-6d1f-4e43-ad39-360cfcc9abb0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PowerMonitor.Installer" Level="1">
			<!--<ComponentGroupRef Id="ProductComponents" />-->
		</Feature>
	</Product>
</Wix>
